<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap 101 Template</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

  <div class="container">
    <div class="row">
      <h1 class="title">Homework5 A6Z</h1>
        <% for(var i=0; i<img.length; i++){ %>
          <div class="col-md-3">
              <img src="assets/images/<%= img[i] %>.jpg"/>
              <h2 class="title"><%= title[i] %></h2>
          </div>
        <% } %>
    </div>
	</div><!-- end container -->
</body>
</html>
