<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap 101 Template</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

  <div class="container" id="main">
    <h1>Homework5 A6Z</h1>
      <% for(var i=0;i<img.ilength;i++){%>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <img class= "img-responsive" src="assets/img/<%= img[i] %>.jpg"/>
        </div>
        <div class="text">
          <h2><%= title[i] %></h2>
        <div>
      <%}%>




	</div><!-- end container -->
	</footer>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/script.js"></script>
</body>
</html>
